Django == 3.2
drf-yasg >= 1.20.0
psycopg2 >= 2.8.6
Pillow >= 8.2.0
djangorestframework >= 3.12.4
django-filter >= 2.4.0
djangorestframework-simplejwt >= 4.7.1
factory-boy >= 3.2.0
pytils >= 0.3
django-ckeditor >= 6.1.0
django-3-jet >= 1.0.8
django-cors-headers >= 3.7.0
celery >= 5.0.0
daphne >= 3.0.0
django-smart-selects >= 1.5.9
bs4 >= 0.0.1
django-easy-select2 >= 1.5.7
django-dry-rest-permissions >= 1.2.0
django-environ >= 0.8.1
Faker~=9.8.3
Jinja2~=3.0.3
kombu~=5.2.2